<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static '../static/img/logo_white.png' %}">

    <link rel="stylesheet" href="{% static '../static/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '../static/style.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/custom.css' %}">
    <link href='https://fonts.googleapis.com/css?family="Josefin+Sans"&amp;subset=latin,latin-ext' rel='stylesheet'
          type='text/css'>
{#    <link rel="stylesheet" href="{% static '../static/css/bootstrap-select.min.css' %}">#}
{##}
{#    <script src="{% static '../static/js/bootstrap-select.min.js' %}"></script>#}
    <script src="{% static '../static/js/jquery-2.1.0.min.js' %}"></script>
    <script src="{% static '../static/js/bootstrap.min.js' %}"></script>
    <script src="{% static '../static/js/blocs.min.js' %}"></script>
    <script src="{% static '../static/js/jquery.touchSwipe.min.js' %}" defer></script>
    <script src="{% static '../static/js/lazysizes.min.js' %}" defer></script>
    <title>{{movie.moviename}} — {{movie.othername}} ({{movie.releasedate}})</title>

    <!-- Google Analytics -->

    <!-- Google Analytics END -->

</head>

<body style="margin:0 auto">
<!-- Main container -->
<div class="page-container">

    <!-- Search Bar -->
    <div class="bloc bgc-black d-bloc" id="bloc-0">
        <div class="container fill-bloc-top-edge">
            <nav class="navbar row">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'movie_display' %}"><img
                            src="{% static '../static/img/logo_white.png' %}"
                            alt="logo" class="lazyload"/><span
                            style=:"bold">Cinema</span></a>
                    <button id="nav-toggle" type="button"
                            class="ui-navbar-toggle navbar-toggle menu-icon-rounded-bars"
                            data-toggle="collapse" data-target=".navbar-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                </div>

                {% if request.user.is_authenticated %}

                    <div class="navbar-header">
                    <ul  class="nav navbar-nav">
                        <li><a href="#" class="login"  >欢迎您！{{ request.user.username}}</a></li>
                        <li><a href="{% url 'logout' %}" class="login"  >退出</a></li>
                        {% if request.user.username == 'admin' %}
{#                            <li><a href="{% url 'reCal_coldstart' %}" class="login">spark重计算</a></li>#}
                            <li><a href="{% url 'reCal_coldstart' %}" class="login">无用户推荐计算</a></li>
                        {% endif %}
                        </ul>
                    </div>
                {% else %}
                <div class="navbar-header">
                    <ul  class="nav navbar-nav">
                        <li><a href="{% url 'login' %}" class = "login">登录</a></li>
                        <li><a href="{% url 'register' %}" class = "login">注册</a></li>
                    </ul>
                </div>


                {% endif %}

                <div class="collapse navbar-collapse navbar-1 special-dropdown-nav">
                    <!--weixiugai-->
                    <form method="post" class="navbar-form pull-right"
                          role="search" name="search" id="search">
                        {% csrf_token %}
                        <input type="text" name="q" class="form-control" placeholder="Search">
                        <input type="submit" name="submit" class="btn btn-info" value="搜索" onclick="return moviesearch()">
                    </form>
                </div>
            </nav>
        </div>
    </div>
    <!-- Search Bar END -->

    <!-- Page Content -->
    <div class="bloc bgc-splashed-white l-bloc" id="bloc-1" style="margin-top:20px">
        <div style="float:left;width:800px">
            <div class="container bloc-lg">
                <h2 class="movie-name">{{movie.moviename}} — {{movie.othername}} ({{movie.releasedate}})</h2>
                <div class="row voffset">
                    <!--left-->
                    <div class="col-sm-3 col-xs-6">
                        {% comment %} <img src="{{movie.backpost}}" alt="图片找不到了" class="movie_detail_page" height="190px"/> {% endcomment %}
                         <img src="{% if 34  %}../../../static/poster/{{movie.id}}.jpg{% endif %}" onerror="replacePoster(this);" alt="{{movie.picture}}" class="img-responsive lazyload movie_detail_page"  height="190px"/>
                        <script language="JavaScript">
                            function replacePoster(obj){
                                obj.src = obj.alt;
                                obj.onerror = null;
                            }
                        </script>

                    </div>
                    <!--end left-->

                    <!--middle-->
                    <div class="col-sm-5 col-xs-6 movie-info">
                        <div id="info">
                                <span><span class="pl">导演：</span> <span
                                        class="attrs">{{movie.directors}}</span></span><br>
                            <span class="actor"><span class="pl">主演：</span> <span
                                    class="attrs">{{movie.leadactors}}</span></span><br>
                            <span class="pl">类型：</span> <span property="v:genre">{{movie.typelist}}</span><br>

                            <span class="pl">制片国家/地区：</span>{{movie.nation}}<br>
                            <span class="pl">语言：</span> {{movie.language}}<br>
                            <span class="pl">片长：</span> {{movie.durations}}<br>
                            <span class="pl">上映日期：</span> <span property="v:initialReleaseDate"
                                                                content="">{{movie.releasedate}}</span><br>
                            <span class="pl">评分：</span>{{movie.averating}}<br>
                            <span class="pl">评分人数：</span>{{movie.numrating}}<br>

                        </div>
                    </div>
                    <!--end middle-->

                </div>

                <div class="col-sm-12" style="margin-top:30px">
                    <div>
                        <h3 class="detail-page-title"><span
                                class="label label-primary">剧情简介</span><span> </span></h3>
                        <!--<h4 class="detail-page-title" style="float: left;">-->
                        <!--<a-->
                        <!--href="https://movie.douban.com/subject/{{movie.id}}/"><span-->
                        <!--class="label label-info" style="width: 30px;height: 20px">@豆瓣</span></a>-->
                        <!--</h4>-->
                    </div>
                    <div class="col-sm-9" style="margin-top:10px">
                        <p style="text-indent: 2em">{{movie.description}}
{#                            <a href="https://movie.douban.com/subject/{{movie.id}}/"><span class="">©豆瓣</span></a>#}
                        </p>
                    </div>
                </div>

                <!--豆瓣影评 Top5-->
                {% if douban_review %}
                <div class="col-sm-12" style="margin-top:30px">
                    <div>
                        <h3 class="detail-page-title"><span class="label label-primary">豆瓣影评</span></h3>
                    </div>
                    <div style="margin-top:10px">
                        {% for rowkey,dict in douban_review %}
                        <div class="col-sm-9 reviews" style="margin-top:20px">
                            <div class="review-item">
                                <header class="main-hd">
                                <span class="label label-info">
                                    {{dict.user_name }}
                                </span>
                                    <span>
                                        &nbsp
                                    </span>
                                    <span class="label label-success">
                                    评分：{{dict.score}}
                                    </span>
                                    <span>
                                        &nbsp
                                    </span>
                                </header>

                                <div class="review-summary">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{dict.comment_detail}}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                <!--豆瓣影评 Top5 END-->

                <!--本站影评-->
                {% if user_review %}
                <div class="col-sm-12" style="margin-top:30px">
                    <div>
                        <h3 class="detail-page-title"><span class="label label-primary">本站影评</span></h3>
                    </div>
                    <div style="margin-top:10px">
                        {% for rowkey,dict in user_review %}
                        <div class="col-sm-9 reviews" style="margin-top:20px">
                            <div class="review-item">
                                <header class="main-hd">
                                <span class="label label-info">
                                    {{dict.user}}
                                </span>
                                    <span>
                                        &nbsp
                                    </span>
                                    <span class="label label-success">
                                    评分：{{dict.star}}
                                    </span>
                                    <span>
                                        &nbsp
                                    </span>
                                    <span class="label label-warning">
                                    {{dict.reviewtime}}
                                    </span>
                                </header>

                                <div class="review-summary">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{dict.content}}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                <!--本站影评 END-->

                <!--添加影评-->
                <div class="col-sm-12" style="margin-top:30px">
                    <div>
                        <h3 class="detail-page-title"><span class="label label-primary">添加影评</span></h3>
                    </div>
                    <div class="col-sm-12" style="margin-left:20px;margin-top:5px">
                        {% if request.user.is_authenticated %}
                        <form name="form" method="post" id="form">
                            <input type='hidden' name='movie_id' value="{{ movie.id }}" />

                            <div class="row">
                                <div class="col-sm-3">
                                    <label> 作者：</label>
                                    <p class="text-left" style="font-size: 27px" >{{ request.user.username}}</p>
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label> 评分：</label>
                                    <select id="star" name="star" title="请选择"  >
                                      <option value="1" selected>1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5</option>
                                      <option value="6">6</option>
                                      <option value="7">7</option>
                                      <option value="8">8</option>
                                      <option value="9">9</option>
                                      <option value="10">10</option>
                                    </select>

                                </div>

                            </div>    <!-- row -->
                            <div class="row">
                                <div class="col-sm-8">
                                    <label> 内容：</label>
                                    <textarea class="form-control" name="comments" id="comments"  rows="3"></textarea>

                                    <input type="button" value="提交评论" onclick="return addAction()" />
                                    <input type="button" value="删除" onclick="return deleteAction()"/>
                                </div>
                            </div>
                        </form>

                        {% else %}
                             <p class="text-left" style="font-size: 27px" >请先登录！</p>
                        {% endif %}
                    </div>
                </div>
                <!--添加影评 END-->

            </div>
        </div>

        <!--相似电影推荐-->
        {% if recommend_list %}
        <div style="float:right;width:200px;margin-top:85px">
            <h3 class="detail-page-title"><span class="label label-primary">相似电影推荐</span></h3>
            <div>
                {% for rec in recommend_list %}
                <div class="col-sm-10 col-xs-1" style="margin-top:35px">
                    <a href="{% url 'movieinfo' rec.id %}" data-gallery-id="gallery-1">
                        {% comment %} <img src="{{rec.picture}}" alt="图片无法显示" class="img-responsive lazyload movie-img"/> {% endcomment %}
                        <img src="{% if 34  %}../../../static/poster/{{rec.id}}.jpg{% endif %}" onerror="replacePoster(this);" alt="{{rec.picture}}" class="img-responsive lazyload movie-img"/>
                        <script language="JavaScript">
                            function replacePoster(obj){
                                obj.src = obj.alt;
                                obj.onerror = null;
                            }
                        </script>
                        <p class="text-center">
                        <span style="color:#444">
                            {%if rec.moviename|length >= 8 %}
                            {{rec.moviename|slice:'6'}}…
                            {%else%}
                            {{rec.moviename}}
                            {%endif%}
                        </span>
                        </p>
                    </a>
                    <p class="text-center movie-rating" style="margin-top:4px">
                        <span class="label label-info">评分：{{rec.averating}}</span>
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <!--相似电影推荐 END-->
    </div>
</div>
<!-- Page Content END -->
<!-- Main container END -->

<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span
        class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->

<script type="text/javascript">
    function addAction(){
        document.getElementById("form").action="{% url 'add_review' %}";//提交的url
        document.getElementById("form").submit();

    }
    function deleteAction(){
        document.getElementById("form").action="{% url 'deletereview' %}";//提交的url
        document.getElementById("form").submit();
    }
    function moviesearch() {
        document.getElementById("search").action="{% url 'movie_search'%}";//提交的url
        document.getElementById("search").submit();
    }
</script>



</body>
</html>
